## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
talkdir
txt.format
*.final.*
*.draft.*
*.handouts.*
*.complete.*
*.complete.*
*.log
*.aux
.*.aux
*.blg
*.bbl
webpix
intro.step.mk
journals.step.mk
philosophy.step.mk
structure.step.mk
dandelions.step.mk
competition.step.mk
het.step.mk
diseases.step.mk
models.step.mk
logs.step.mk
rabies.step.mk
evaluation.step.mk
flu.step.mk
ebola.step.mk
hiv.step.mk
life_history.step.mk
units.step.mk
aging.step.mk
import.step.mk
dynamics.step.mk
exploitation.step.mk
populations.step.mk
health.step.mk
nonlinear.step.mk
intro.html
journals.html
philosophy.html
structure.html
dandelions.html
competition.html
het.html
diseases.html
models.html
logs.html
rabies.html
evaluation.html
flu.html
ebola.html
hiv.html
life_history.html
units.html
aging.html
import.html
dynamics.html
exploitation.html
populations.html
health.html
nonlinear.html
all.html
allsteps.mk
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
up.time
commit.time
commit.default
dotdir/
clonedir/
*.oldfile
up.time
commit.time
commit.default
dotdir/
clonedir/
*.oldfile
*.olddiff
